Package: com.n00neimp0rtant.picarchiver
Name: PicArchiver
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: save those chatted snaps
Maintainer: n00neimp0rtant
Author: n00neimp0rtant
Section: Tweaks
